{% extends 'base.html' %}

{% block content %}
<style>
    .card
    {
        margin-top: 50px;
        margin-left: 50px;
        margin-right: 50px;
    }
</style>
<body>
    <div class="container" id="container-cards">
        <div class="row text-center d-flex justify-content-center">
             <div class="col-sm-8 col-md-5">
              <a href="{% url 'showphone' %}" style="text-decoration:none;">
                <div class="card">
                    <div class="card-body text-white rounded" style="background-color: rgb(168, 203, 78);">
                        <i class="bi bi-phone text-center" style="font-size: 200px;"></i>
                            <h4>الهواتف الذكية </h4>
                    </div>
                </div>
              </a>
             </div>

             <div class="col-sm-8 col-md-5">
                <a href="{% url 'showproduct' %}" style="text-decoration:none;">
                    <div class="card">
                        <div class="card-body text-white rounded" style="background-color: rgb(247, 165, 33);">
                            <i class="bi bi-house text-center" style="font-size: 200px;"></i>
                                <h4> أدوات المنزل  </h4>
                        </div>
                    </div>
                </a>
             </div>

        </div>

        <div class="row text-center d-flex justify-content-center">
            <div class="col-sm-8 col-md-5">
               <div class="card">
                   <div class="card-body text-white rounded" style="background-color: rgb(31, 12, 120);">
                       <i class="bi bi-power text-center" style="font-size: 200px;"></i>
                           <h4>أدوات كهربائية  </h4>
                   </div>
               </div>
            </div>

            <div class="col-sm-8 col-md-5">
               <div class="card">
                   <div class="card-body text-white rounded" style="background-color: rgb(165, 187, 230);">
                       <i class="bi bi-eraser text-center" style="font-size: 200px;"></i>
                           <h4> أدوات النظافة   </h4>
                   </div>
               </div>
            </div>

       </div>
    </div>
</body>

{% endblock %}